.artikel {

}

img {
    width: 100%;
    max-height: 40%;
}

.text {
  font-size: 15px;
}

.judul {
  font-size: 18px;
}

.grey {
    color: #7f8c8d;
    font-size: 12px;
}

.midnight {
    color: #34495e;
}